{{ extends "/administration_page.html" }}
{{ define "main_content" }}
    <h4>
        Comments
    </h4>
    <div class="card">
        <div class="card-content">
            <form action="/administration/add_comment" method="post">
                <div class="row">
                    <div class="col m2">
                        Text :
                    </div>
                    <div class="col m10">
                        <textarea name="text"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col m2">
                        Article :
                    </div>
                    <div class="col m10">
                        <select name="article_id">
                            {{ range .ArticleArray }}
                                <option value="{{ .Id }}">{{ .Title }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col m2">
                        User :
                    </div>
                    <div class="col m10">
                        <select name="user_id">
                            {{ range .UserArray }}
                                <option value="{{ .Id }}">{{ .Pseudonym }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <input class="btn" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div>
        {{ range .CommentArray }}
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col m2">
                            Text :
                        </div>
                        <div class="col m10">
                            {{ .Text }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m2">
                            Date :
                        </div>
                        <div class="col m10">
                            {{ .Date }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m2">
                            Article :
                        </div>
                        <div class="col m10">
                            {{ .Article.Title }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m2">
                            User :
                        </div>
                        <div class="col m10">
                            {{ .User.Pseudonym }}
                        </div>
                    </div>
                    <a class="btn" href="/administration/edit_comment/{{ .Id }}">
                        Edit
                    </a>
                    <a class="btn" href="/administration/remove_comment/{{ .Id }}">
                        Remove
                    </a>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}
